#zone-1{background: #ccc;}
#zone-2{background: #f8f8f8;}
#form-1{padding:5px 0;background: #ccc;}
#form-1 .register{text-align: center;}
/*#countdown{background: #ccc;}*/
footer{background: #000;}
footer p,footer span,footer strong{color: #fff;}